<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expert.xybs.mapper.PaperTitleMapper">
  <resultMap id="BaseResultMap" type="com.expert.xybs.pojo.PaperTitle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="paperid" jdbcType="BIGINT" property="paperid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="aname" jdbcType="VARCHAR" property="aname" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, paperid, title, aid, bid, cid, did, aname, bname, cname, dname
  </sql>
  <select id="selectByExample" parameterType="com.expert.xybs.pojo.PaperTitleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from paper_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper_title
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from paper_title
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.expert.xybs.pojo.PaperTitleExample">
    delete from paper_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.expert.xybs.pojo.PaperTitle">
    insert into paper_title (id, paperid, title, 
      aid, bid, cid, did, 
      aname, bname, cname, 
      dname)
    values (#{id,jdbcType=BIGINT}, #{paperid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{aid,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, 
      #{aname,jdbcType=VARCHAR}, #{bname,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{dname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.expert.xybs.pojo.PaperTitle">
    insert into paper_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperid != null">
        paperid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="bid != null">
        bid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="did != null">
        did,
      </if>
      <if test="aname != null">
        aname,
      </if>
      <if test="bname != null">
        bname,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="dname != null">
        dname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paperid != null">
        #{paperid,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="aname != null">
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.expert.xybs.pojo.PaperTitleExample" resultType="java.lang.Long">
    select count(*) from paper_title
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update paper_title
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.paperid != null">
        paperid = #{record.paperid,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.did != null">
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.aname != null">
        aname = #{record.aname,jdbcType=VARCHAR},
      </if>
      <if test="record.bname != null">
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.dname != null">
        dname = #{record.dname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update paper_title
    set id = #{record.id,jdbcType=BIGINT},
      paperid = #{record.paperid,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      aid = #{record.aid,jdbcType=INTEGER},
      bid = #{record.bid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      did = #{record.did,jdbcType=INTEGER},
      aname = #{record.aname,jdbcType=VARCHAR},
      bname = #{record.bname,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      dname = #{record.dname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.expert.xybs.pojo.PaperTitle">
    update paper_title
    <set>
      <if test="paperid != null">
        paperid = #{paperid,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="aname != null">
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.expert.xybs.pojo.PaperTitle">
    update paper_title
    set paperid = #{paperid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      aid = #{aid,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      did = #{did,jdbcType=INTEGER},
      aname = #{aname,jdbcType=VARCHAR},
      bname = #{bname,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      dname = #{dname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>